.container {
  display: flex;
  min-height: 100vh;
  background-color: #f0f2f5;
  
  
}

.list {
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  border-inline-end: none;
  padding-left: 1rem;
}

.sidebar {
  width: 250px;
  min-height: 100vh;
  background-color: #004aad;
  flex-shrink: 0;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 12px;

}

.sidebar img,
.logoImg {
  width: 265px;
  object-fit: cover;
}

span {
  color: white;
}

:global(.ant-menu-item-selected) {
  background-color: #0e52ac !important;
}

:global(.ant-menu-item-selected:hover) {
  background: #004aad !important;
}

:global(.ant-menu-item) {
  color: #5791ce;
}

.content {
  background: #e6f2ff;
  padding: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
}

.logoButton {
  background-color: #004aad;
  border: none;
  padding: 0;
  width: 100%;
  box-shadow: none;
}

.logoButton:hover {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.mobileBtn {
  display: none;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 999;
  background: transparent;
  border: none;
  font-size: 24px;
  color: #004aad;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .mobileBtn {
    display: block;
  }

  .content {
    padding-top: 60px;
    align-items: flex-start;
  }
}
