
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f2f5; 

  h1 {
    text-align: center;
    color: #0049B1;
    font-weight: bold;
    font-size: 26px;
  }
}

.card {
  width: 400px;
  padding: 40px;
  background: #ffffff; 
  border-radius: 12px; 
  gap: 2rem;
  display: flex;
  flex-direction: column;


  color: #334155;

  box-shadow: 
    0 20px 25px -5px rgba(0, 0, 0, 0.1), 
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: 1rem;
}

.logo {
  width: 100%;
  height: 80px;
  object-fit: cover;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px; 
}


label {
  color: #334155; 
  font-weight: 700;
  font-size: 14px;
  margin-bottom: -10px; 
  z-index: 1;
}


.button {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  background-color: #2563eb; 
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.2s;
}

.button:hover {
  background-color: #1d4ed8; 
  
}


.forgot {
  text-align: center;
  margin-top: 15px;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  color: #64748b;
  font-weight: 500;
  font-size: 14px;
}

.forgot span {
  color: #2563eb; 
  font-weight: bold;
  cursor: pointer;
}

.forgot span:hover {
  color: #1d4ed8;
  text-decoration: underline;
}


@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
  .card {
    width: 100%;
    max-width: 400px;
    padding: 30px;
  }
  .logo {
    width: 100%; 
    height: auto;
  }
}




:global(.ant-input-prefix) {
  color: #2563eb; 
  margin-right: 10px; 
  
}

:global(.ant-input-suffix) {
  color: #2563eb;
  
}


:global(.ant-input-affix-wrapper) {
  border-color: #e2e8f0 !important;
  padding: 10px 11px !important; 
  border-radius: 8px !important;
  display: flex;
  gap: 6px;
  border: 2px solid;
}

:global(.ant-input-affix-wrapper:hover),
:global(.ant-input-affix-wrapper:focus),
:global(.ant-input-affix-wrapper-focused) {
  border-color: #2563eb !important;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.1) !important;
}


:global(.ant-message-success .anticon) {
  background-color: #52c41a !important;
  color: white !important;
  border-radius: 50%;                   
  padding: 4px;                       
}

:global(.ant-message span) {
  color: #334155 !important; 
}