.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  background-color: #e6f2ff;
  font-family: "Inter";


  img {
    width: 256px;
    margin-bottom: 2rem;
  }
}

.title {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  color: black;
}

.subtitle {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  color: black;
}

.text {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

button {
  width: auto;
  height: 70px;
  background-color: slategray;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

  span {
    color: white;
    font-weight: bold;
    white-space: nowrap;
  }
}

button:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-color: transparent;
}
